<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.zeus.ums.biz.mapper.AuthorityMapper">
  <select id="pagingUserByAuthorityId" resultType="in.hocg.zeus.ums.biz.entity.User">
    SELECT distinct ua.*
    FROM ams_role_user_ref aur
           LEFT JOIN ams_role_authority_ref ara on aur.role_id = ara.role_id
           LEFT JOIN ums_user ua on ua.id = ara.role_id
    WHERE ara.authority_id = #{authorityId}
      AND aur.id IS NOT NULL
  </select>

  <select id="listByProjectIdAndUserId" resultType="in.hocg.zeus.ums.biz.entity.Authority">
    SELECT DISTINCT aa.*
    FROM (SELECT DISTINCT aa.*
          FROM ams_authority aa
                 LEFT JOIN ams_role_authority_ref arar ON arar.authority_id = aa.id
                 LEFT JOIN ams_role_user_ref arur ON arur.role_id = arar.role_id
                 LEFT JOIN ams_role ar ON ar.id = arar.role_id
          WHERE ar.enabled = 1
            AND arur.user_id = #{userId}
          UNION
          SELECT DISTINCT aa.*
          FROM ams_authority aa
                 LEFT JOIN ams_user_group_authority_ref augar ON augar.authority_id = aa.id
                 LEFT JOIN ams_user_group_user_ref augur ON augur.user_group_id = augar.user_group_id
                 LEFT JOIN ams_user_group aug ON aug.id = augur.user_group_id
          WHERE aug.enabled = 1
            AND augur.user_id = #{userId}) aa
    <where>
      aa.enabled = 1
      <if test="projectId != null">
        AND aa.project_id = #{projectId}
      </if>
    </where>
    ORDER BY aa.priority
  </select>

  <select id="listByRoleId" resultType="in.hocg.zeus.ums.biz.entity.Authority">
    SELECT DISTINCT aa.*
    FROM ams_authority aa
           LEFT JOIN ams_role_authority_ref arar on aa.id = arar.authority_id
    WHERE arar.role_id = #{roleId}
  </select>

  <select id="listByUserGroupId" resultType="in.hocg.zeus.ums.biz.entity.Authority">
    SELECT DISTINCT aa.*
    FROM ams_authority aa
           LEFT JOIN ams_user_group_authority_ref augar on aa.id = augar.authority_id
    WHERE augar.user_group_id = #{userGroupId}
  </select>
</mapper>
