<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.zeus.ums.biz.mapper.RoleUserRefMapper">
  <select id="listByUserId" resultType="in.hocg.zeus.ums.biz.entity.Role">
    SELECT ar.*
    FROM ams_role ar
           LEFT JOIN ams_role_user_ref arur on ar.id = arur.role_id
    WHERE arur.user_id = #{userId}
  </select>
</mapper>
