<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.zeus.ums.biz.mapper.UserGroupMapper">
  <select id="paging" resultType="in.hocg.zeus.ums.biz.entity.UserGroup">
    SELECT ua.*
    FROM ams_user_group ua
    <where>
      <if test="ro.keyword != null">
        <bind name="keyword" value="'%' + ro.keyword + '%'"/>
        AND (ua.title LIKE #{keyword} OR ua.encoding LIKE #{keyword} OR ua.remark LIKE #{keyword} OR ua.email
        LIKE #{keyword})
      </if>
    </where>
  </select>

  <select id="complete" resultType="in.hocg.zeus.ums.biz.entity.UserGroup">
    SELECT ua.*
    FROM ams_user_group ua
    <where>
      <if test="ro.keyword != null">
        <bind name="keyword" value="'%' + ro.keyword + '%'"/>
        AND (ua.title LIKE #{keyword} OR ua.encoding LIKE #{keyword} OR ua.remark LIKE #{keyword} OR ua.email
        LIKE #{keyword})
      </if>
    </where>
  </select>
</mapper>
