<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="icon" href="//hocg.in/favicon.ico" crossorigin="anonymous"/>
    <title>首页 - HOCGIN</title>
</head>
<body>
<a href="http://api.hocgin.top/user">api.hocgin.top</a>
<a href="http://api.hocgin2.top:20002/user">api.hocgin2.top</a>
<a href="http://sso.hocgin.top/user">sso.hocgin.top</a>
<img src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQFq8TwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAyM0lVR1F3UFpkRWoxVlQtY052YzEAAgSPusxfAwToAwAA" alt="" width="80" height="80">
</body>
</html>
